.client-slider {
    position: relative;
    height: 100px;
    margin-top: 20px;
    overflow: hidden;
  }
  
  .logos-container {
    display: flex;
    gap: 150px;                                
    animation: scroll 15s linear infinite;
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  .logos-container img {
    max-width: 100px;
    height: auto;
    border-radius: 50%;
  }
  